<p id="notice"><%= notice %></p>

<h1>Liste d'archive des courriers entrant</h1>

<table id="ae_couriers" class="display">

  <thead>
  <tr class="success">
    <th>Name</th>
    <th>Description</th>
    <th>Reférence</th>
    <th>File</th>
    <th>User</th>
    <th>Entry courier</th>
   <!-- <th colspan="2"></th>-->
  </tr>
  </thead>

  <tbody>
  <% @archive_entry_couriers.each do |archive_entry_courier| %>
      <tr>
        <td><%= link_to archive_entry_courier.name , archive_entry_courier%></td>
        <td><%= link_to archive_entry_courier.description , archive_entry_courier%></td>
        <td><%= link_to archive_entry_courier.reference , archive_entry_courier%></td>
        <td><%= link_to archive_entry_courier.file , archive_entry_courier%></td>
        <td><%= link_to archive_entry_courier.user.lName, archive_entry_courier %></td>
        <td><%= link_to archive_entry_courier.entry_courier.reference , archive_entry_courier%></td>
      </tr>
  <%end%>
  </tbody>
</table>

<br>
<div class="form-actions">

  <%= link_to 'Nouvelle archive de courrier entrant',new_archive_entry_courier_path, remote: true, class: 'submit btn btn-success btn-xs round' %>


</div>
