<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= "#{params[:action].titleize} Courrier entrant" %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(@entry_courier) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :reference %>
            <%= f.input :subject %>
            <%= f.input :sender %>
            <%= f.input :receveir %>
            <%= f.input :duration, order: [:day, :month, :year] %>
            <%= f.input :sentDate , order: [:day, :month, :year]%>
            <%= f.input :orderNumber %>
            <%= f.input :file %>
            <%= f.association :user,:label_method => lambda{ |user| "#{user.lName} #{user.fName}" } %>
            <%= f.association :project, :label_method => lambda{ |project| "#{project.reference}"} %>
          </div>


            <div class="form-actions">
              <%= f.button :submit, class: 'btn btn-success' %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
