<p id="notice">
    <%= notice %>
</p>
<h1>Courriers Entrants</h1>

<table id="e_couriers" class="display">
    <thead>
        <tr class="success">
          <th>Numero d'ordre</th>
          <th>Reference</th>
          <th>Objet</th>
          <th>Emetteur</th>
          <th>Recepteur</th>
          <th>Date d'envoi</th>
          <th>Date de reception</th>
<!--          <th>Statut du courrier</th>-->
<!--          <th>File</th>
          <th>User</th>
          <th>Project</th>-->
        </tr>
    </thead>
    <tbody>
      <% @entry_couriers.each do |courier| %>
      <tr>
        <td><%= link_to courier.orderNumber , courier %></td>
        <td><%= link_to courier.reference , courier %></td>
        <td><%= link_to courier.subject , courier %></td>
        <td><%= link_to courier.sender , courier %></td>
        <td><%= link_to courier.receveir , courier %></td>
        <td><%= link_to courier.duration , courier %></td>
        <td><%= link_to courier.sentDate , courier %></td>
<!--       <td><%#= link_to courier.statut , courier %></td>-->
<!--        <td><%#= link_to courier.file , courier%></td>
        <td><%#= link_to courier.user.lName , courier %></td>
        <td><%#= link_to courier.project.reference , courier%></td>-->
      </tr>
      <%end%>
    </tbody>
</table>
<br>

<div class="fomr-actions">
  <%= link_to 'Nouveau Courrier Entrant', new_entry_courier_path, remote: true,class: 'submit btn btn-success btn-xs round ' %>
</div>
