<p id="notice">
    <%= notice %>
</p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Numero d'ordre</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.orderNumber %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Reference</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.reference %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Subject</strong></h3>
      </div>
      <div class="panel-body">

          <%= @entry_courier.subject %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Sender</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.sender %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Receiver</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.receveir %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Receiver</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.aasm_state %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>fichier</strong></h3>
      </div>
      <div class="panel-body">
        <%= @entry_courier.file %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Date d'emission</strong></h3>
      </div>
      <div class="panel-body">
        <%= @entry_courier.duration %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Date de reception</strong></h3>
      </div>
      <div class="panel-body">
        <%= @entry_courier.sentDate %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>User</strong></h3>
      </div>
      <div class="panel-body">

        <%= @entry_courier.user.lName %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Project</strong></h3>
      </div>
      <div class="panel-body">
          <%= @entry_courier.project.reference %>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'Edit', edit_entry_courier_path(@entry_courier), class: "btn btn-success" %>
  <%= link_to 'Retour', entry_couriers_path, class: "btn btn-primary" %>
</div>
