<p id="notice">
  <%= notice %>
</p>

<h1>Courrier Sortant</h1>

<table  id="r_couriers" class="display">
  <thead>
  <tr class="success">
    <th>Numero d'ordre</th>
    <th>Reférence</th>
    <th>Destination</th>
    <th>Fichier</th>
    <th>User</th>
    <th>Projet</th>
    <th>Date</th>
    <!--<th colspan="3"></th>-->
  </tr>
  </thead>

  <tbody>
  <% @release_couriers.each do |releaseCourier| %>
      <tr>
        <td><%= link_to releaseCourier.orderNumber , releaseCourier %></td>
        <td><%= link_to releaseCourier.reference, releaseCourier  %></td>
        <td><%= link_to releaseCourier.destination, releaseCourier  %></td>
        <td><%= link_to releaseCourier.file , releaseCourier %></td>
        <td><%= link_to releaseCourier.user.lName, releaseCourier  %></td>
        <td><%= link_to releaseCourier.project.reference, releaseCourier  %></td>
        <td><%= link_to releaseCourier.date, releaseCourier  %></td>
        <!--<td><%= link_to 'Show', releaseCourier %></td>
        <td><%= link_to 'Edit', edit_release_courier_path(releaseCourier) %></td>
        <td><%= link_to 'Destroy', releaseCourier, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<div class="form-actions">
  <%= link_to 'Nouveau Courrier Sortant', new_release_courier_path, remote: true,class: 'submit btn btn-success btn-xs round' %>
</div>