<tr>
  <td><%= project.reference %></td>
  <td><%= project.object_project %></td>
  <td><%= project.projectName%></td>
  <td><%= project.projectDescription %></td>
  <td><%= project.focal_point %></td>
  <td><%= project.project_situation %></td>
  <td><%= project.public_partenership %></td>
  <td><%= project.private_partenership %></td>
  <td><%= project.amount %></td>
  <td><%= project.contratDuration %></td>

</tr>