<p id="notice">
    <%= notice %>
</p>

<h1>Projects</h1>
<!--role="datatable"-->
<table  class="display responsive no-wrap" id="projects" class="display">
    <thead>
        <tr class="success">
            <th>Reference</th>
            <th>Objet du projet</th>
            <th>Nom du Projet</th>
            <th>Description du Projet</th>
            <!--<th>Secteur d'activité</th>-->
            <th>Point focal CARPA</th>
            <th>Situation du projet</th>
            <th>Partenaire Public</th>
            <th>Partenaire Privé</th>
            <th>Montant de l'investissement</th>
          <!--<<th>Procédure</th>-->
            <th>Durée du contrat</th>
          <!--<<th>Date de création du projet</th>
          <th>User</th>-->
          <!--<th colspan="3"></th>-->
        </tr>
    </thead>

    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td>
                    <%= link_to project.reference, project %>
                </td>
                <td>
                    <%= link_to  project.object_project, project %>
                </td>
                <td>
                  <%= link_to project.projectName, project%>
                </td>
                <td>
                  <%= link_to project.projectDescription, project%>
                </td>

                <td>
                    <%= link_to project.focal_point, project %>
                </td>
                <td>
                    <%= link_to project.project_situation, project %>
                </td>
                <td>
                    <%= link_to project.public_partenership, project %>
                </td>
                <td>
                    <%= link_to project.private_partenership, project %>
                </td>
                <td>
                    <%= link_to project.amount, project %>
                </td>



               <td>
                <%= link_to project.contratDuration, project %>
               </td>

                <!--<td>
                    <%= link_to 'Show', project %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_project_path(project) %>
                </td>
                <td>
                    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>-->
            </tr>
            <% end %>
    </tbody>
</table>

<br>
<div class="form-actions">

  <%= link_to 'Ajouter un Projet', new_project_path, remote: true,class: 'submit btn btn-success btn-xs round' %>
</div>
