
  <p id="notice">
    <%= notice %>
  </p>
    <h1>Projets</h1>


  <table id="projects" class="display">
    <thead>
    <tr class="success">
      <th>Reference</th>
      <th>Objet du projet</th>
      <th>Nom du Projet</th>
      <th>Description du Projet</th>
      <!--<th>Secteur d'activité</th>-->
      <th>Point focal CARPA</th>
      <th>Situation du projet</th>
      <th>Partenaire Public</th>
      <th>Partenaire Privé</th>
      <th>Montant de l'investissement</th>
      <!--<<th>Procédure</th>-->
      <th>Durée du contrat</th>
      <!--<<th>Date de création du projet</th>
      <th>User</th>-->
      <!--<th colspan="3"></th>-->
    </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
            <tr>
              <td><%= project.reference %></td>
              <td><%= project.object_project %></td>
              <td><%= project.projectName %></td>
              <td><%= project.projectDescription %></td>
              <td><%= project.focal_point %></td>
              <td><%= project.project_situation %></td>
              <td><%= project.public_partenership %></td>
              <td><%= project.private_partenership %></td>
              <td><%= project.amount %></td>
              <td><%= project.contratDuration %></td>
            </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= bar_chart Project.group(:reference).sum(:amount),
                 id: 'project_phase',
                 library: { animation: { easing: 'easeOutQuad' }} %>
  <br>
  <div class="form-actions">
    <%= link_to 'Ajouter un Projet', new_project_path, remote: true,class: 'submit btn btn-success btn-xs round' %>
  </div>

