<div class="modal fade" id="form_modal">
  <%= simple_form_for @project_phase,:html => {:multipart => true, class: "dropzone", id: 'dropzone_upload'},validate: true do |f| %>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= "#{params[:action].titleize} Project Phase " %></h4>
          </div>
          <div class="modal-body">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">

              <div class="fallback">
                <%= f.input :document, input_html: { multiple: 'multiple' } %><br>
              </div>
              <%= f.input :description %>
              <%= f.input :phase %>
              <%= f.association :project,:label_method => lambda{ |p_project| "#{p_project.reference}"} %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, class: 'submit btn btn-success btn-xs round' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
