
    <li>
      <%= link_to 'Projets', projects_path %>
    </li>
    <li>
      <%= link_to 'Phase des Projets', project_phases_path %>
    </li>



    <li><%= link_to "Courrier Entrant", entry_couriers_path %></li>
    <li><%= link_to "Courrier Sortant", release_couriers_path%></li>



    <li><%= link_to "Archive Projet", archive_projects_path %></li>
    <li><%= link_to "Archive Courier Sortant", archive_release_couriers_path %></li>
    <li><%= link_to "Archive Courier Entrant", archive_entry_couriers_path %></li>

